VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_APPWRITE_PROJECT_ID="69e4f8980019f8196e7b"
VITE_APPWRITE_ENDPOINT="https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_DATABASE_ID=""
VITE_APPWRITE_COLLECTION_VIDEOS_ID="videos"
VITE_APPWRITE_COLLECTION_USERS_ID="users"
VITE_APPWRITE_COLLECTION_CHANNELS_ID="channels"
VITE_APPWRITE_COLLECTION_COMMENTS_ID="comments"